:root {
    --green: #21ba45;
    --red: red;
    --blue: #1E90FF;
    --orange: #f2711c;
    --default-spacing: 1rem;
    --default-border-color: rgba(34, 36, 38, 0.15);
  }
    
  .green {
    color: var(--green) !important;
  }
  
  .red {
    color: var(--red);
  }
  
  .blue {
    color: var(--blue);
  }

  .orange {
    color: var(--orange)
  }

  .hide {
      display: none !important;
  }

  .info {
    background-color: var(--orange);
    color: white;
  }

  .success-flag {
    background-color: var(--green) !important;
    color: white !important;
  }

  .error-flag {
    background-color: #fff6f6 !important;
    color: #9f3a38 !important;
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  }

  .info {
    background-color: var(--green) !important;
    color: white !important;
  }

  body {
    background-color: '#F4F5F9' !important;
  }

  header {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    font-size: 3rem;
    font-weight: normal;
  }

  .app-menu {
      width: 900px;
      height: calc(100vh - 100px - 30px);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-item {
          width: 200px;
          height: 200px;
          text-align: center;
          background-color: white;
          border-radius: 2px;
          text-align: center;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          box-shadow: 2px 4px 4px rgba(34,36,38,0.12), 
                      0 2px 5px 0 rgba(34,36,38,0.15);
          transition: box-shadow .3s ease-in;

          &:hover {
              box-shadow: 2px 10px 15px rgba(34,36,38,0.12), 
                      0 2px 10px 0 rgba(34,36,38,0.15);
          }

          i {
              font-size: 3em;
              margin-top: 6rem;
          }

          p {
              margin-top: 2.5rem;
              font-size: 1.2rem;
          }
      }
    
  }

  #checkBalanceModal {
      .content {
          height: 200px;
          padding: 0;

        .segment {
            height: inherit;
        }
        #balanceValueContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            flex-direction: column;
            font-size: 2.5rem;
        }
    }
  }

  .search-wrapper {
    position: relative;
    
    .clientsSearchList {
      position: absolute;
      left: 0;
      right: 0;
      top: 40px;
      min-height: 1rem;
      box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
      background: white;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: .5rem 1rem;
          border-bottom: 1px solid var(--default-border-color);
          cursor: pointer;
        }
      }
    }
  }

  .selected-clients {

    border: 1px solid var(--default-border-color);
    padding: calc(var(--default-spacing) / 2);

    .client-list-item {
      display: inline-block;
      padding: .3rem .5rem;
      margin: .3rem;
      background: #e8e8e8;
      border: 1px solid var(--default-border-color);
      border-radius: .5rem;
      
      i {
        margin-left: .5rem;
        cursor: pointer;

        &:hover {
          color: rgba(0,0,0,0.8);
        }
      }
    }
  }

  footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #9BADBD;
    font-size: 1rem;
  }